##The data is between 2009 - 2024 of all the batsmen's total score, total innings, average, total fifties.

In [43]:
import pandas as pd
import random as random
import gdown

In [44]:
gdown.download('https://drive.google.com/uc?id=1Pk_9K-4cWY7EYwefK8FCPfpmvXHrJvxT','ipl_players_data.xlsx',quiet=False)
df=pd.read_excel('ipl_players_data.xlsx')

Downloading...
From: https://drive.google.com/uc?id=1Pk_9K-4cWY7EYwefK8FCPfpmvXHrJvxT
To: /content/ipl_players_data.xlsx
100%|██████████| 28.0k/28.0k [00:00<00:00, 41.9MB/s]

Example rows:

In [49]:
df.head()

      batsman name  total score    average  innings  fifty
0       SC Ganguly         1349  24.089286       56      7
1      BB McCullum         2882  26.440367      109     15
2       RT Ponting           91  10.111111        9      0
3        DJ Hussey         1322  21.672131       61      5
4  Mohammad Hafeez           64   8.000000        8      0

Batsman list:

In [46]:
df['batsman name']
df.columns

Index(['batsman name', 'total score', 'average', 'innings', 'fifty'], dtype='object')

The below code generates the random probability

In [47]:
def monte_carlo(tp):
  count=0
  for _ in range(100):
    if random.random()<tp:
      count+=1
  return count

The below code tells in 100 innings how many innings he will score 50+ runs according Monte carlo simulation. The monte carlo's probability will always remain close to theoritical probability value.

Theoritical probability of V Kohli have scored 50+ scores in his past is:0.26229508196721313

According to monte carlo's simulation V Kohli will score 50+ runs in:27 matches out of 100

In [48]:
batsman_name='V Kohli' #replace batsman name with your favourite batsman name
filtered_df=df.loc[df['batsman name']==batsman_name]
tp=filtered_df['fifty']/filtered_df['innings']
tp=float(tp)
print(f"Theoritical probability:{tp}")
t=monte_carlo(tp)
print(f"Monte carlo's probability for next 100 matches:{t}")
print(f"According to monte carlo's simulation {batsman_name} will score 50+ runs in:{t} matches out of 100")

Theoritical probability:0.26229508196721313
Monte carlo's probability for next 100 matches:27
According to monte carlo's simulation V Kohli will score 50+ runs in:27 matches out of 100

<ipython-input-48-d0d86706a5a0>:4: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  tp=float(tp)